*{
    box-sizing: border-box;

}

body{
    margin: 0;
    background-color:black
    

}

.bloquetitulo{
    font-size: 50px;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    font-family: segoe print;
}

.bloqueparrafo  {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    font-family: segoe print;
    color: rgb(34, 45, 65);

    background-image: url(../imagenes/imagen\ 5.jpg);
    background-attachment: fixed;
    background-size: 50% 50%;
}

